Pods/Pods.xcodeproj/xcuserdata/jack.xcuserdatad/xcschemes/xcschememanagement.plist
StorageApp.xcodeproj/xcuserdata/jack.xcuserdatad/xcschemes/StorageApp.xcscheme
StorageApp.xcodeproj/xcuserdata/jack.xcuserdatad/xcschemes/xcschememanagement.plist
StorageApp.xcworkspace/xcuserdata/jack.xcuserdatad/UserInterfaceState.xcuserstate
StorageApp.xcworkspace/xcuserdata/jack.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
