<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StorageApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE13DD1E1D1AA65B0072D045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE13DD321D1AA65C0072D045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE13DD3D1D1AA65C0072D045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
